:root {
    --background-color: red; 
    --font-color: black;
    background-color: var(--background-color); 
    font-family: "Roboto", sans-serif;
}


body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

.hero {
    position: relative;
    text-align: left;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    margin: 0;
}

h1::after {
    content: " "; /* Adds empty content */
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
}

.data, .weather {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px;
    border-radius: 5px;
}

.data {
    top: 20%;
    left: 10%;
    width: 300px;
}

.data h2 {
    background-color: #006838;
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-radius: 5px 5px 0 0;
}

.weather {
    bottom: 20%;
    right: 10%;
    width: 250px;
}

.weather h2 {
    background-color: #006838;
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-radius: 5px 5px 0 0;
}

footer {
    background-color: #c8102e;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero img {
        width: 100%;
        text-align: center;
        object-fit: cover;
    }
    
    .data, .weather {
        width: 100%; 
        padding: 10px; 
        margin: 0; 
        left: 0; 
        right: 0; 
        position: relative; 
        box-sizing: border-box; 
    }
    
    footer {
        font-size: 12px;
        width: 100%; 
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }
    
    .data h2, .weather h2 {
        font-size: 18px;
    }
    
    .data, .weather {
        padding: 20px;
        width: 100%; 
        box-sizing: border-box;
    }
    
    footer {
        font-size: 10px;
        width: 100%; /* Full width for small screens */
    }
}
