/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f0f8ff;
}

header h1, footer p {
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    color: #007BFF; 
    text-decoration: underline; 
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Single column for mobile */
    gap: 1rem;
}
main h2 {
    text-align: center; /* Center text */
    margin: 1rem 0; /* Optional: Add some vertical spacing */
}

figure {
    background-color: #fff;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
}
